<h2 class="text-center">Cards</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Layout</a>
    <span class="breadcrumb-item active">Cards</span>
  </nav>
</div>
<div class="row">
  <div class="col-12 col-md-6 col-xl-4 mb-3">
    <div class="card">
      <img class="card-img-top" src="/assets/images/cards/cards-img-1.jpg">
      <div class="card-body">
        <div class="mb-3">
          <small class="text-primary">Category</small>
        </div>
        <div class="h5 line-height-2 text-justify mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
          modi quam
          quisquam, ullam ut
          voluptatibus?
        </div>
        <div class="media align-items-center">
          <img class="d-flex mr-4" src="/assets/images/cards/cards-avatar-2.png">
          <div class="media-body">
            <div>Created by</div>
            <div class="text-primary">Nancy Coleman</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 mb-3">
    <div class="card">
      <div class="card-body text-center">
        <div class="text-primary mb-3">Category</div>
        <h5>Sed do eiusmod tempor incididunt</h5>
        <div>
          <i class="icon-location-pin text-primary"></i>
          <small>Location</small>
        </div>
      </div>
      <img class="card-img-top" src="/assets/images/cards/cards-img-2.jpg">
      <div class="card-body">
        <div class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quidem quos vero? Aliquid
          debitis deserunt dignissimos, doloribus eaque esse eum ipsa iste
        </div>
        <div class="d-flex">
          <div>
            <a class="mx-1 no-underline" href=""><i class="icon-social-facebook px-gdn-icon"></i></a>
            <a class="mx-1 no-underline" href=""><i class="icon-social-pinterest px-gdn-icon"></i></a>
            <a class="mx-1 no-underline" href=""><i class="icon-social-twitter px-gdn-icon"></i></a>
          </div>
          <div class="ml-auto"><a class="text-primary" href="/">READ MORE</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="media justify-content-center mt-4 mb-5">
          <img class="img-fluid" src="/assets/images/cards/cards-avatar-1.png">
        </div>
        <h5 class="text-center mb-3">ABOUT ME</h5>
        <div class="text-justify mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aut earum nam nisi odio placeat unde! A
          ab accusamus dolor, eius eos facere illo illum itaque nemo veritatis vero?
        </div>
        <div class="text-center">
          <a class="mx-2 no-underline" href=""><i class="icon-social-facebook px-gdn-icon"></i></a>
          <a class="mx-2 no-underline" href=""><i class="icon-social-pinterest px-gdn-icon"></i></a>
          <a class="mx-2 no-underline" href=""><i class="icon-social-twitter px-gdn-icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-12 col-lg-6 overflow-hidden">
      <img class="card-img-vertical" src="/assets/images/cards/cards-img-3.jpg">
    </div>
    <div class="col-12 col-lg-6 d-flex">
      <div class="d-flex align-items-start flex-column p-5">
        <h2 class="mb-5">Idolor sit</h2>
        <div class="text-justify mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua. nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum
        </div>
        <div class="mt-auto">
          <button type="button" class="btn btn-outline-secondary">READ MORE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-7 mb-3">
    <div class="card">
      <img class="card-img" src="/assets/images/cards/cards-img-4.jpg">
      <div class="card-img-overlay d-flex align-items-center justify-content-end">
        <div>
          <h5 class="card-title mb-3">Adipisicing elit</h5>
          <div class="h2 mb-3">$ 78.45</div>
          <div>
            <button type="button" class="btn btn-outline-secondary">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5 mb-3">
    <div class="card bg-primary text-white mb-3">
      <div class="card-body">
        <h5>Sed do eiusmod tempor incididunt ut labore et dolore</h5>
        <div class="mb-3">
          <small>Category</small>
        </div>
        <div class="text-justify mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ullamco laboris
        </div>
        <div class="media align-items-center">
          <img class="d-flex mr-4" src="/assets/images/cards/cards-avatar-2.png">
          <div class="media-body">
            <div>Created by</div>
            <div>Nancy Coleman</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="media align-items-center">
          <img class="d-flex mr-4" src="/assets/images/cards/cards-avatar-3.png">
          <div class="media-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <small>Category</small>
        </div>
        <h5 class="mb-3">Sed do eiusmod tempor incididunt ut labore et dolore magna</h5>
        <div class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua. Ut enim ad
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <div class="border rounded-circle border-primary p-3 mr-4">
            <i class="icon-briefcase text-primary h3"></i>
          </div>
          <div class="media-body">
            <h5>Key Features</h5>
            <div class="text-justify">
              Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <img class="d-flex mr-3 mr-sm-4" src="/assets/images/cards/cards-img-5.jpg">
          <div class="media-body">
            <div class="d-flex flex-wrap justify-content-between mb-2">
              <small>Category</small>
              <small class="text-primary">31.10.2018</small>
            </div>
            <div class="text-justify">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eius facere
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
