<div class="control-section">

    <button class="btn btn-lg px-gdn-btn-outline card-bg" (click)="openModal()">Open Modal</button>

    <ejs-dialog #Dialog [visible]='false' [buttons]='dlgButtons' [header]='header' [animationSettings]='animationSettings' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' (open)="dialogOpen()" (close)="dialogClose()">
        <div>
            <app-document-upload></app-document-upload>
        </div>
        <ng-template #footerTemplate>
          <button class="btn btn-sm px-gdn-btn-outline card-bg" style="margin: 10px;">Cerrar</button>
        </ng-template>
    </ejs-dialog>
</div>

