.mat-sidenav-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.mat-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #673ab7;
    color: primary;
}

.mat-list-item-sidebar {
    color: white;
}