.users-section {
    position: absolute;
    left: 10%;
}

.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
    position: relative;
    background: transparent;
    color: #0be3df;
    z-index: 1;
}

.e-btn.e-flat.e-primary:hover,
.e-css.e-btn.e-flat.e-primary:hover {
    position: relative;
    background: #0be3df;
    color: white;
    z-index: 1;
}

.e-btn.e-flat.e-primary:focus,
.e-css.e-btn.e-flat.e-primary:focus {
    position: relative;
    background: transparent;
    color: #0be3df;
    z-index: 1;
}