<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/forms']">
            <mat-icon class="sidenav-icon">input</mat-icon> {{ 'Forms' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/components']">
            <mat-icon class="sidenav-icon">code</mat-icon> {{ 'Material Component' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/blank-page']">
            <mat-icon class="sidenav-icon">insert_drive_file</mat-icon> {{ 'Blank Page' | translate }}
        </a> -->
    </mat-nav-list>
</div>