app-login-page {
    height: auto;
    padding: 16px 16px 70px;
    .card {
        max-width: 630px;
        margin-top: 100px;
        .card-body {
            padding: 50px 130px 80px 130px;
        }
    }
    footer {
        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
    }
    img {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 290px;
        .card {
            margin-top: 50px;
            .card-body {
                padding-left: 80px;
                padding-right: 80px;
            }
        }
        footer {
            bottom: 235px;
        }
    }
    @media screen and (max-width: 425px) {
        .card {
            margin-top: 0;
            .card-body {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    .formtitle {
        text-align: center;
        padding: 10px;
        font-size: 25px;
        font-weight: 500;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.70);
        margin-top: 15%;
    }
    .e-error,
    .e-float-text {
        font-weight: 500;
    }
    .e-custom-label {
        font-size: 14px;
        font-weight: 500;
        margin-left: 20px;
    }
    form {
        padding-top: 20px;
        margin-bottom: 45px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
        border-radius: 5px;
        background: #f9f9f9;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
    .highcontrast form,
    .highcontrast .header {
        color: #fff;
        background: #000000;
    }
    .header {
        color: rgba(0, 0, 0, 0.7);
    }
    table,
    td,
    th {
        padding: 5px;
    }
    .form-horizontal .form-group {
        margin-left: 20px;
        margin-right: 20px;
    }
    .row {
        padding-bottom: 30px;
        padding-top: 25px;
    }
    .toast-icons {
        font-family: 'Toast_icons' !important;
        font-size: 55px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    #toast_type .e-toast-icon.e-icons {
        height: auto;
        font-size: 30px;
    }
    .toast-icons.e-success::before {
        content: "\e701";
    }
    .toast-icons.e-error::before {
        content: "\e700";
    }
    .toast-icons.e-info::before {
        content: "\e704";
    }
    .toast-icons.e-warning::before {
        content: "\e703";
    }
}