<div class="col-lg-12 control-section">
    <div class="content-wrapper" style="margin-bottom: 25px;">
        <ejs-toast #toastMessage id='toastMessage'></ejs-toast>

        <ejs-grid #grid [dataSource]='data' allowPaging='true' [pageSettings]='pageSettings'>
            <e-columns>
                <e-column field='id' headerText='Id' width='120' textAlign='Right'></e-column>
                <e-column field='name' headerText='Nombre' width='160'></e-column>
                <e-column field='surname' headerText='Apellidos' width='120' textAlign='Right'></e-column>
                <e-column field='username' headerText='Nick' width='150' textAlign='Right'></e-column>
                <e-column field='age' headerText='Age' width='150'></e-column>
            </e-columns>
        </ejs-grid>
    </div>
</div>


<!-- <div class="control-section">
    <ejs-grid #grid [dataSource]='data' allowPaging='true' [pageSettings]='pageSettings'>
        <e-columns>
            <e-column field='id' headerText='Id' width='120' textAlign='Right'></e-column>
            <e-column field='name' headerText='Nombre' width='160'></e-column>
            <e-column field='surname' headerText='Apellidos' width='120' textAlign='Right'></e-column>
            <e-column field='username' headerText='Nick' width='150' textAlign='Right'></e-column>
            <e-column field='age' headerText='Age' width='150' ></e-column>
        </e-columns>
    </ejs-grid>
</div> -->